<%- include('./partials/head'); %> 

<body>

	<%- include('./partials/header'); %> 

		<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
					<li><a href="/cart">Cart</a></li>
					<li class="active">carrinho</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
			
				<% if (cart.length === 0) {   %>
					<div class="carrinho-vazio">
					<h3>"Ops!! parece que o carrinho está vazio, volte a página inicial <a href="/home">clicando aqui!</a> </h3>
				</div>
					<% } else { %>
				<table class="table table-condensed">
					<thead>

								<tr class="cart_menu">
									<td class="image">Item</td>
									<td class="description">Descrição</td>
									<td class="price">Preço</td>
									<td class="quantity">Quantidade</td>
									<td class="total">Total</td>

								</tr>	
						
					</thead>
					<tbody>
						<% cart.forEach((produto, index) => { %>
							<tr data-cart="<%= index %>">
								<td class="cart_product">
									<a href=""><img src="<%= produto.imagem  %>" alt=""></a>
								</td>
								<td class="cart_description">
									<h4><a href=""><%= produto.nome %> </a></h4>
									<!--<p>Web ID: 1089772</p>-->
								</td>
								<div>
								<td class="cart_price">
									<p><%= new Intl.NumberFormat('pt-BR',{style:'currency', currency:'BRL'}).format(produto.preco)%></p>
								</td>

							
							</div>
							<td   class="cart_quantity">
								<div class="cart_quantity_button">
									<select data-id='<%= index %>' class="cart_quantity_input" >
										<% for( let index = 1; index < 11; index++ ) { %>
										
											<option value="<%= index %>" <%= produto.quantidade === index?'selected': '' %> ><%= index %> </option>
										<% } %>
									</select>
									
									
								</div>
							</td>
							<td  class="cart_total">
								
								<p  class="cart_total_price"><%= new Intl.NumberFormat('pt-BR',{style:'currency',currency:'BRL'})
								.format(produto.subTotal)%></p>
							</td>
						
						

						<% }) %>
						
			
					
					</tbody>
						
			
				</table>
			</div>
		</div>
	</section> 

	
	<section id="do_action">
		<div class="container">
			
			<div class="row">
				<div class="col-sm-6">
					
				</div>
				<div class="checkbox">
					<div class="total_area">
						<ul>
							<li id="carrinho-preco">Carrinho<span><%= new Intl.NumberFormat('pt-BR',{style:'currency', currency:'BRL'}).format(total)%></span></li>
							<li>Frete<span>Gratuito</span></li>
							<li id="carrinho-total">Total <span><%= new Intl.NumberFormat('pt-BR',{style:'currency', currency:'BRL'}).format(total)%></span></li>
							<li>Forma de Pagamento <span>
								<select  name="formas" id="formas">
									<% formas.forEach(forma => { %>
									 <option value="<%= forma.id %>"><%= forma.nome %> </option>
									<% }) %>
								</select>
							</span></li>
						</ul>
						<button class="btn btn-default update" onclick="atualizaServidor()" >Atualizar</button>
						<a class="btn btn-default check_out" href="">Finalizar</a>
					</div>
				</div>
			</div>
		</div>

		<% } %>
	</section>
	<script>
		const carrinho = <%-JSON.stringify(cart) %>
		let total = 0
		let element = document.getElementsByClassName("cart_quantity_input")
		element = Array.from(element)
		element.forEach(select => {
			
		select.addEventListener('input', function(evento){
			
			const selectid = evento.target.dataset.id

			const produto = document.querySelector(`[data-cart='${selectid}']`);
			const subtotal = produto.querySelector(".cart_total_price");
			

			const objetoServidor = carrinho[selectid]
			const novoValorObjeto = +evento.target.value * objetoServidor.preco;
			objetoServidor.quantidade = +evento.target.value;
			objetoServidor.subTotal = novoValorObjeto;

			console.log(produto)

			atualizaServidor()

			
			
			const valorFormat =  new Intl.NumberFormat('pt-BR',{style:'currency', currency:'BRL'})
		.format(novoValorObjeto)

		subtotal.innerText = valorFormat
		atualizaCarrinho()
		
			
		})
		});
		function atualizaCarrinho(){
			 total = carrinho.reduce((acumulador,item)=> acumulador + item.subTotal, 0);
			
			// let valorTotal = 0 ;
			// carrinho.forEach(produto => valorTotal += produto.subTotal)

			const precostring=new Intl.NumberFormat('pt-BR',{style:'currency', currency:'BRL'})
		.format(total)
			const carrinhopreco = document.querySelector('#carrinho-preco span')
			const carrinhototal = document.querySelector('#carrinho-total span')
			console.log()
			carrinhopreco.innerText=`${precostring}`
			carrinhototal.innerText=precostring
			

		}

		function atualizaServidor(){
			const formaPgto = document.querySelector('select#formas').value
			
			const carrinhoString = JSON.stringify({carrinho, formaPgto, total})
			
			fetch('/cart', {
				method: 'PATCH',
				body: carrinhoString,
				headers: {
					'Content-Type': 'application/json',
				}
			})

		}

	</script>
