<%- include('./partials/head'); %> 

<body>
	<%- include('./partials/header'); %> 

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
					<li><a href="/cart">Cart</a></li>
					<li class="active">carrinho</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<% if (condition) { %>
						 
						<%  %>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description">Descrição</td>
							<td class="price">Preço</td>
							<td class="quantity">Quantidade</td>
							<td class="total">Total</td>
							</td>
						</tr>
						<% } else {
							
						} %>
						 
					</thead>
					<tbody>
						<% cart.forEach(produto => { %>
<<<<<<< HEAD
							<tr>
								<td class="cart_product">
									<a href=""><img src="<%= produto.imagem  %>" alt=""></a>
								</td>
								<td class="cart_description">
									<h4><a href=""><%= produto.nome %> </a></h4>
									<!--<p>Web ID: 1089772</p>-->
								</td>
								<div>
								<td class="cart_price">
									<p><%= new Intl.NumberFormat('pt-BR',{style:'currency', currency:'BRL'}).format(produto.preco)%></p>
								</td>
=======
							<td class="cart_product">
								<a href=""><img src="/images/cart/one.png" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Colorblock Scuba</a></h4>
								<!--<p>Web ID: 1089772</p>-->
							</td>
							<div>
							<td class="cart_price">
								<p><%= new Intl.NumberFormat('pt-BR',{style:'currency', currency:'BRL'}).format(produto.preco)%></p>
							</td>
							</div>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price"><%= new Intl.NumberFormat('pt-BR',{style:'currency', currency:'BRL'}).format(produto.subtotal
								)%></p>
							</td>
							<!--<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
	
						<tr>
							<td class="cart_product">
								<a href=""><img src="images/cart/two.png" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Colorblock Scuba</a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<p>$59</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
>>>>>>> a04f1d3aff6f4227e05e8bb04a78979fd512297e
								</div>
								<td class="cart_quantity">
									<div class="cart_quantity_button">
										<a class="cart_quantity_up" href=""> + </a>
										<input class="cart_quantity_input" type="text" name="quantity" value="<%= produto.quantidade %> " autocomplete="off" size="2">
										<a class="cart_quantity_down" href=""> - </a>
									</div>
								</td>
								<td class="cart_total">
									<p class="cart_total_price"><%= new Intl.NumberFormat('pt-BR',{style:'currency', currency:'BRL'}).format(produto.subTotal)%></p>
								</td>
								
							</tr>
						<% }) %>
					
					</tbody>
						<% }) %>
			
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->
	
	<section id="do_action">
		<div class="container">
			
			<div class="row">
				<div class="col-sm-6">
					
				</div>						<tr>

				<div class="checkbox">
					<div class="total_area">
						<ul>
							<li>Carrinho<span><%= new Intl.NumberFormat('pt-BR',{style:'currency', currency:'BRL'}).format(total)%></span></li>
							<li>Frete<span>Gratuito</span></li>
							<li>Total <span><%= new Intl.NumberFormat('pt-BR',{style:'currency', currency:'BRL'}).format(total)%></span></li>
						</ul>
						<a class="btn btn-default update" href="">Atualizar</a>
						<a class="btn btn-default check_out" href="">Finalizar</a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->